<div class="section-header">
  <h1>My Cart</h1>
</div>

<div class="empty-div" *ngIf="cart.length === 0; else cartNotEmpty">
  <p class="empty-cart">The cart is empty!</p>

  <button class="btn btn-danger shop-now-btn" [routerLink]="'/Home'">Shop now</button>
</div>

<ng-template #cartNotEmpty>

  <div class="row">
    <div class="col-md-9">

      <table class="table">
        <thead>
          <tr>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class="product-qty">Quantity</th>
            <th class="product-total">Total</th>
            <th class="product-discount">Discount</th>
            <th class="product-final-price">Final Price</th>
            <th class="product-action">Action</th>
          </tr>
        </thead>
        <tbody class="cart-t-body">

          <tr *ngFor="let course of cart" class="course-row">
            <td class="product-name-td">{{ course.courseName }}</td>
            <td class="product-price-td">{{ course.actualPrice | currency:'INR' }}</td>
            <td class="product-qty-td">{{ course.quantity }}</td>
            <td class="product-total-td">{{ course.actualPrice * course.quantity | currency:'INR' }}</td>
            <td class="product-discount-td">{{ course.discountPercentage }}%</td>
            <td class="product-final-price-td">{{ ( course.actualPrice - ((course.discountPercentage/100) * course.actualPrice) ) * course.quantity |
              currency:'INR' }}</td>
            <td class="btn-td">
              <button class="btn btn-danger" (click)="removeCourse(course)">
                Remove
              </button>
              <button class="btn btn-danger" (click)="moveToWishlist(course.id)">Move to Wishlist</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
    <div class="col-md-3">
      <!-- Price Card -->
      <div class="price-card">
        <h6>Total Cart Value</h6>
        <p class="price-card-p">Total: {{ this.getPrice() | currency:'INR' }}</p>
        <p class="price-card-p">Quantity: {{ this.getTotalQuantity() }}</p>
        <p class="price-card-p">You Saved: {{ this.YouSaved() | currency:'INR' }}</p>
        <p class="price-card-p">Final Price: {{ this.getGrandTotal1() | currency:'INR' }}</p>

        <button class="price-card-btn" (click)="checkout()">Checkout</button>
      </div>
    </div>
  </div>

  <app-confirmation-modal confirmationModal [showModal]="courseModals || false" [modalMessage]="modalMessage"
    (confirmAction)="confirmAction($event)"></app-confirmation-modal>

</ng-template>